<section class="comments">
  <% @comments.top_level.each do |comment|  %>
  <ul class="top-level">
    <li>
    <%= render "comments/comment", 
        comment: comment, 
        index_comment: true,
        current_user_mod: current_user_is_mod?(@post),
        level: 1 %>
    </li>
  </ul>
  <% end %>

</section>