<section class="comments">
  <ul class="top-level">
  <% @comments[nil].each do |comment|  %>
    <li>
    <%= render "comments/comment", 
        comment: comment, 
        index_comment: true,
        current_user_mod: current_user_is_mod?(@post),
        level: 1 %>
    </li>
  <% end %>
  </ul>

</section>