<h1>Reply to Comment</h1>
<%= render "comments/comment", 
    comment: @comment,
    index_comment: false,
    current_user_mod: current_user_is_mod?(@comment.post)
%>
<%= render "comments/form", post: @comment.post %>