<form action="<%= @sub.persisted? ? sub_url : subs_url %>" method="post">
  <% if @sub.persisted? %>
  <input type="hidden" name="_method" value="patch">
  <% end %>
  <label for="sub_name">name</label>
  <label for="sub_name">No spaces, e.g., "books" or "bookclub". Once chosen, this name cannot be changed.</label>
  <input id="sub_name" type="text" name="sub[name]">

  <label for="sub_title">title</label>
  <label for="sub_title">e.g., Books: made from trees or pixels.</label>
  <input id="sub_title" type="text" name="sub[title]">

  <label for="sub_description">description</label>
  <label for="sub_description">Appears in search results and social media links. 500 characters max.</label>
  <input id="sub_description" type="text" name="sub[description]">

  <input type="submit" value="CREATE">
</form>