<h1>Manage Community</h1>
<% if flash[:errors] %>
<%= render "shared/notices", notices: flash[:errors], type: :error %>
<% end %>
<%= render "sub_form" %>

<%= button_to "DELETE", sub_url(@sub), method: :delete %>
