<% delete_url = sub ? post_sub_url(post.get_post_sub(sub)) : post_url(post) %>
<form action="<%= delete_url %>" method="post">
  <%= csrf_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post" class="delete_post">
</form>